#upper {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#title {
    font-size: 20px;
    display: flex;
    font-weight: 700;
    padding: 8px;
}

#body {
    display: flex;
    outline: 30px;
    background-color: rebeccapurple;
}

button {
    cursor: pointer;
    outline: 30px;
    color: white;
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    background:rgb(183, 183, 183);
}