.EventHeader {
  flex:100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  width: 100vh;
}

.EventBody {
  flex:100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  width: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

p {
  font-size: 18px;
  text-align: left;
}

#map {
   height: 180px; 
  }