
.EventHeader {
  flex:100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  width: 100wh;
  height: 20%;
  font-family: "Montserrat";

}

.EventBody {
  flex:100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  width: 100wh;
  font-family: "Montserrat";

}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  font-family: "Montserrat";

}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Montserrat";

  
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Montserrat";

}

p {
  font-size: 18px;
  text-align: left;
  font-family: "Montserrat";

}

.leaflet-container {
  width: 50wh; 
  height: 30vh;
  font-family: "Montserrat";

}